.exam {
  margin: 3% 17%;
  font-family: cursive;
}
.exam .infor-exam {
  border: 1px solid rgb(201, 201, 201);
  padding: 2% 10%;
  border-radius: 10px;
}
.exam .countdown{
  display: flex;
  border: 1px solid rgb(69, 189, 39);
  border-radius: 5px;
  background-color: rgb(69, 189, 39);
  margin-top: 2%;
  color: white;
}
.exam .countdown label{
  margin: 0px 38%;
}
.exam .content-exam{
  margin-top: 2%;
}
.exam .title-information{
  width: 35%;
}

.ans .enter-result{
  border: 1px solid rgb(214, 214, 214);
  width: 350%;
  height: 50px;
  border-radius: 5px;
  outline: none;
  padding-left: 3px;
}